<%- include('../../partialsHeaderView'); %>

<script>

	function resetForm(form) {

		$('#formSubmitPreview').show();
		$('#formSubmitReset').hide();
		$('#formSubmitStart').hide();
		$('#ordersBox').hide();

		$('input').not('[type=button]').prop('disabled', false);
	}


	$(document).ready(function () {

		const form = '#formDealsCreate';
		const submitUrl = $(form).attr('action');

		const createStep = $('#createStep').val();

		$('[id^="formSubmit"]').on('click', function(e) {

			e.preventDefault();

			const id = $(this).attr('id');

			if (id.match(/reset/i)) {

				resetForm(form);
				return;
			}

			if (id.match(/start/i)) {

				let confirmStart = confirm('Start bot?');

				if (confirmStart) {

					$('#createStep').val('start');
				}
				else {

					return;
				}
			}

			$('#formSubmitReset').hide();
			$('#formSubmitStart').hide();
			$('#ordersBox').hide();

			// Enable form so data is retrievable
			$('input').not('[type=button]').prop('disabled', false);

			const formDataSubmit = $(form).serialize();
			const formData = $(form).serializeArray().reduce((o, {name: n, value: v}) => Object.assign(o, { [n]: v }), {});

			if (formData.pair == undefined || formData.pair == null || formData.pair == '' || !formData.pair.match(/\//)) {

				alert('Invalid Pair');
				return;
			}

			$('#formSubmitPreview').hide();
			$('input').not('[type=button]').prop('disabled', true);

			$.ajax({
						type: 'POST',
						url: submitUrl,
						data: formDataSubmit,
						dataType: 'json',
						success: function(data) {

						if (!data.success) {

							$('#formSubmitPreview').show();
							$('input').not('[type=button]').prop('disabled', false);

							//alert(JSON.stringify(data));
							alert(data.data);
						}
						else {

							$('#ordersBox').html('<pre>' + data.data + '</pre><br>');
							
							if (data.step.toLowerCase() != 'getorders') {

								resetForm(form);

								alert('Bot Started');
							}
							else {

								$('input').not('[type=button]').prop('disabled', true);

								$('#ordersBox').show();
								$('#formSubmitReset').show();
								$('#formSubmitStart').show();

								alert('Verify bot orders and confirm to start bot');
							}
						}
					},
					error: function(data) {

						// Some error in ajax call
						$('#formSubmitStart').hide();
						alert('Error: ' + JSON.stringify(data));
				}
			});

			// Reset value
			$('#createStep').val(createStep);
		});
	});


	$(document).on('keypress', '#dealsCreate input', function(e) {

		const id = $(this).attr('id');
		const val = $('#' + id).val();

		const charCode = (e.which) ? e.which : e.keyCode;

		if (id.toLowerCase() != 'pair' && id.toLowerCase() != 'botname') {

			let regEx = /[^0-9\.]/g;

			if (id.toLowerCase() == 'dealmax') {

				regEx = /[^0-9]/g;
			}

			if (charCode == 46 && (val.split('.').length - 1) > 0) {

				return false;
			}

			if (String.fromCharCode(charCode).match(regEx)) { return false; }
		}
	});

</script>


<center>
<main>

	<div id="contentBox" style="width: 90%;">

	<h2>Create DCA Bot Deal</h2>

	<table id="dealsCreate" cellpadding=0 cellspacing=0>

	<form id="formDealsCreate" action="/api/deals/create">

		<input type=hidden id="createStep" name="createStep" value="getorders">

		<tr><td style="width: 175px;">Bot Name:</td> <td><input id="botName" name="botName" style="width: 200px;"></td></tr>
		<tr><td>Pair:</td> <td><input id="pair" name="pair" style="width: 100px; text-transform: uppercase;"></td></tr>
		<tr><td>Base Order:</td> <td><input id="firstOrderAmount" name="firstOrderAmount" value="<%- botData.firstOrderAmount %>" style="width: 60px;"></td></tr>
		<tr><td>Safety Order:</td> <td><input id="dcaOrderAmount" name="dcaOrderAmount" value="<%- botData.dcaOrderAmount %>" style="width: 60px;"></td></tr>
		<tr><td>Max Safety Orders:</td> <td><input id="dcaMaxOrder" name="dcaMaxOrder" value="<%- botData.dcaMaxOrder %>" style="width: 60px;"></td></tr>
		<tr><td>dcaOrderSizeMultiplier:</td> <td><input id="dcaOrderSizeMultiplier" name="dcaOrderSizeMultiplier" value="<%- botData.dcaOrderSizeMultiplier %>" style="width: 60px;"></td></tr>
		<tr><td>dcaOrderStartDistance:</td> <td><input id="dcaOrderStartDistance" name="dcaOrderStartDistance" value="<%- botData.dcaOrderStartDistance %>" style="width: 60px;"></td></tr>
		<tr><td>dcaOrderStepPercent:</td> <td><input id="dcaOrderStepPercent" name="dcaOrderStepPercent" value="<%- botData.dcaOrderStepPercent %>" style="width: 60px;"></td></tr>
		<tr><td>dcaOrderStepPercentMultiplier:</td> <td><input id="dcaOrderStepPercentMultiplier" name="dcaOrderStepPercentMultiplier" value="<%- botData.dcaOrderStepPercentMultiplier %>" style="width: 60px;"></td></tr>
		<tr><td>dcaTakeProfitPercent:</td> <td><input id="dcaTakeProfitPercent" name="dcaTakeProfitPercent" value="<%- botData.dcaTakeProfitPercent %>" style="width: 60px;"></td></tr>
		<tr><td>Max Deals:</td> <td><input id="dealMax" name="dealMax" value="0" style="width: 60px;"></td></tr>

		<tr>
			<td style="padding-top: 25px; text-align: center;" colspan=2>
				
				<input type=button id="formSubmitPreview" value="Preview Bot Deal" style="width: 125px; cursor: pointer;">
				<input type=button id="formSubmitReset" value="Make Changes" style="display: none; width: 125px; cursor: pointer;">
				&nbsp;&nbsp;&nbsp; <input type=button id="formSubmitStart" value="Start Bot Deal" style="display: none; width: 125px; cursor: pointer; background-color: #81df6f;">
			</td>
		</tr>

	</form>
	
	</table>

	</div>
	
	<div id="ordersBox"></div>

</main>
</center>


<%- include('../../partialsFooterView'); %>
