<%- include('../../partialsHeaderView'); %>


<script>

	let timeOutId;

	function setReloadTimeout() {

		timeOutId = setTimeout(() => { window.location.reload(); }, 5000);
	}

	function stopBotConfirm(botName, selector, data) {

		clearTimeout(timeOutId);

		$.confirm({

					title: false,
					boxWidth: '50%',
					useBootstrap: false,
					content: '<div style="font-size: 1.2rem; text-align: left;">Stop ' + botName + '? Current deals will continue running until they complete.</div>',
					buttons: {

								ok: {
										btnClass: 'btn-default',
										text: '<div style="color: #d80f08;">Stop Bot</div>',
										action: function () {

											stopBot(selector, data);
										}
									 },
							 	cancel: {

									 		btnClass: 'btn-default',
									 		text: '<div style="color: #000000;">Cancel</div>',	
										 	action: function () { setReloadTimeout(); }
									 	}
							 }
		});
	}


	function stopBot(selector, data) {

		let botId = data.bot_id;

		$('#spinner-overlay').fadeIn(100);

		$.ajax({
					type: 'POST',
					url: '/api/bots/' + botId + '/disable',
					data: data,
					dataType: 'json',
					success: function(data) {

						$('#spinner-overlay').fadeOut(100);

						if (!data.success) {

							alertBox('Unable to stop bot');
						}
						else {

							$('[id*="stop' + botId + '"]').text('');
							//selector.text('');

							alertBox('Bot Stopped');
						}
						
						setReloadTimeout();
					},
					error: function(data) {

						// Some error in ajax call
						$('#spinner-overlay').fadeOut(100);

						alertBox('Error: ' + JSON.stringify(data));
						
						setReloadTimeout();
					}
		});
	}


	$(document).ready(function() {

		setReloadTimeout();

		$('#botsDeals tbody tr td').click(function() {

			let col = $(this).index();
			let row = $(this).closest('tr');
			let content = $(this).text();

			if (col == 8 && content != '') {

				let data = { 'bot_id': '' };

				let botId = $(this).data('botid');
				let botName = $(this).data('botname');

				if (botId) {

					data.bot_id = botId;

					stopBotConfirm(botName, $(this), data);
				}
			}
		});

	});

</script>

<center>
<main>

	<div id="contentBox" style="width: 90%;">

	<h3>Active DCA Bot Deals</h3>

	<table id="botsDeals" border=0 cellspacing=0 cellpadding=0>
	<tbody>

	<tr style="font-weight: bold; text-align: left; white-space: nowrap;">
		<th>Bot Name</th> <th>Deal ID</th> <th>Pair</th> <th>Duration</th> <th>Price</th> <th>Profit</th> <th>Safety Orders</th> <th>Deals</th> <th>Stop</th>
	</tr>

	<%

		let count = 0;

		for (let dealId in deals) {

			let stopButton = '&#9726;';
			let profitPercColor = '#1a9f00';

			let deal = deals[dealId];

			let botActive = deal['info']['bot_active'];
			let profitPerc = deal['info']['take_profit_percentage'];

			let duration = timeDiff(new Date(), new Date(deal['deal']['date']));

			if (!botActive) {

				stopButton = '';
			}

			if (profitPerc <= 0) {

				profitPercColor = '#d82715';
			}

			if (deal['info']['deal_max'] == 0) {

				deal['info']['deal_max'] = '&#8734;';
			}

			let dealCount = deal['info']['deal_count'] + ' / ' + deal['info']['deal_max'];
			
			count++;
	%>

	<tr>
		<td><%- deal['info']['bot_name'] %></td>
		<td><%- dealId %></td>
		<td><%- deal['deal']['pair'] %></td>
		<td><%- duration %></td>
		<td>$<%- deal['info']['price_last'] %></td>
		<td style="color: <%- profitPercColor %>;"><%- profitPerc %>%</td>
		<td><%- deal['info']['safety_orders_used'] %> / <%- deal['info']['safety_orders_max'] %></td>
		<td><%- dealCount %></td>
		<td data-botid="<%- deal['info']['bot_id'] %>" data-botname="<%- deal['info']['bot_name'] %>" style="text-align: center;"><div id="stop<%- deal['info']['bot_id'] %><%- count %>"><%- stopButton %></div></td>
	</tr>

	<% 	} %>

	</tbody>
	</table>
	</div>

</main>
</center>

<%- include('../../partialsFooterView'); %>
