<%- include('../../partialsHeaderView'); %>

<script>

	let confirmStart = false;

	function resetForm(form) {

		$('#spinner-overlay').fadeOut(100);

		$('#formSubmitPreview').show();
		$('#formSubmitReset').hide();
		$('#formSubmitStart').hide();
		$('#ordersBox').hide();

		$('input').not('[type=button]').prop('disabled', false);
	}

	function alertBox(msg) {

		$.alert({
					title: false,
					boxWidth: '50%',
					useBootstrap: false,
					content: '<div style="font-size: 1.2rem; text-align: left;">' + msg + '</div>'
		});
	}

	$(document).ready(function () {

		const form = '#formDealsCreate';
		const submitUrl = $(form).attr('action');

		const createStep = $('#createStep').val();

		$('[id^="formSubmit"]').on('click', function(e) {

			e.preventDefault();

			const id = $(this).attr('id');

			if (id.match(/reset/i)) {

				resetForm(form);
				return;
			}

			if (id.match(/start/i) && !confirmStart) {

				$.confirm({
							title: false,
							boxWidth: '50%',
							useBootstrap: false,
							content: '<div style="font-size: 1.2rem; text-align: left;">Start Bot?</div>',
							buttons: {

										ok: {

											btnClass: 'btn-default',
											text: '<div style="color: #4aa602;">Start Bot</div>',
											function () {

												confirmStart = true;
											
												$('#createStep').val('start');
												$('#formSubmitStart').click();
										}
									 },
									 	cancel: {

									 		btnClass: 'btn-default',
										 	text: '<div style="color: #d80f08;">Cancel</div>',	
										 	function () { }
									 	}
									 }
				});

				return;
			}

			confirmStart = false;

			$('#formSubmitReset').hide();
			$('#formSubmitStart').hide();
			$('#ordersBox').hide();

			// Enable form so data is retrievable
			$('input').not('[type=button]').prop('disabled', false);

			const formDataSubmit = $(form).serialize();
			const formData = $(form).serializeArray().reduce((o, {name: n, value: v}) => Object.assign(o, { [n]: v }), {});

			if (formData.pair == undefined || formData.pair == null || formData.pair == '' || !formData.pair.match(/\//)) {

				alertBox('Invalid Pair');

				return;
			}

			$('#spinner-overlay').fadeIn(100);

			$('#formSubmitPreview').hide();
			$('input').not('[type=button]').prop('disabled', true);

			$.ajax({
						type: 'POST',
						url: submitUrl,
						data: formDataSubmit,
						dataType: 'json',
						success: function(data) {

						if (!data.success) {

							$('#spinner-overlay').fadeOut(100);

							$('#formSubmitPreview').show();
							$('input').not('[type=button]').prop('disabled', false);

							//alertBox(JSON.stringify(data));
							alertBox(data.data);
						}
						else {

							$('#ordersBox').html('<pre>' + data.data + '</pre><br>');
							
							if (data.step.toLowerCase() != 'getorders') {

								resetForm(form);

								alertBox('Bot Started');
							}
							else {

								$('#spinner-overlay').fadeOut(100);

								$('input').not('[type=button]').prop('disabled', true);

								$('#ordersBox').show();
								$('#formSubmitReset').show();
								$('#formSubmitStart').show();

								alertBox('Verify bot orders and confirm to start bot');
							}
						}
					},
					error: function(data) {

						// Some error in ajax call
						$('#spinner-overlay').fadeOut(100);

						$('#formSubmitStart').hide();
						alertBox('Error: ' + JSON.stringify(data));
				}
			});

			// Reset value
			$('#createStep').val(createStep);
		});
	});


	$(document).on('keypress', '#dealsCreate input', function(e) {

		const id = $(this).attr('id');
		const val = $('#' + id).val();

		const charCode = (e.which) ? e.which : e.keyCode;

		if (id.toLowerCase() != 'pair' && id.toLowerCase() != 'botname') {

			let regEx = /[^0-9\.]/g;

			if (id.toLowerCase() == 'dealmax') {

				regEx = /[^0-9]/g;
			}

			if (charCode == 46 && (val.split('.').length - 1) > 0) {

				return false;
			}

			if (String.fromCharCode(charCode).match(regEx)) { return false; }
		}
	});

</script>


<div id="spinner-overlay">
	<div class="spinner-container"><span class="spinner"></span></div>
</div>

<center>
<main>

	<div id="contentBox" style="width: 90%;">

	<h2>Create DCA Bot</h2>

	<table id="dealsCreate" cellpadding=0 cellspacing=0>

	<form id="formDealsCreate" autocomplete="off" action="/api/deals/create">

		<input type=hidden id="createStep" name="createStep" value="getorders">

		<tr><td>Bot Name:</td> <td><input id="botName" name="botName" class="form-field" style="width: 200px;"></td></tr>
		<tr><td>Pair:</td> <td><input id="pair" name="pair" class="form-field" style="width: 100px; text-transform: uppercase;"></td></tr>
		<tr><td>Base Order Size:</td> <td><input id="firstOrderAmount" name="firstOrderAmount" value="<%- botData.firstOrderAmount %>" class="form-field"></td></tr>
		<tr><td>Safety Order Size:</td> <td><input id="dcaOrderAmount" name="dcaOrderAmount" value="<%- botData.dcaOrderAmount %>" class="form-field"></td></tr>
		<tr><td>Max Safety Orders:</td> <td><input id="dcaMaxOrder" name="dcaMaxOrder" value="<%- botData.dcaMaxOrder %>" class="form-field"></td></tr>
		<tr><td>Safety Order Price Deviation:</td> <td><input id="dcaOrderStepPercent" name="dcaOrderStepPercent" value="<%- botData.dcaOrderStepPercent %>" class="form-field"></td></tr>
		<tr><td>Safety Order Volume Scale:</td> <td><input id="dcaOrderSizeMultiplier" name="dcaOrderSizeMultiplier" value="<%- botData.dcaOrderSizeMultiplier %>" class="form-field"></td></tr>
		<tr><td>Safety Order Step Scale:</td> <td><input id="dcaOrderStepPercentMultiplier" name="dcaOrderStepPercentMultiplier" value="<%- botData.dcaOrderStepPercentMultiplier %>" class="form-field"></td></tr>
		<tr><td>Target Profit %:</td> <td><input id="dcaTakeProfitPercent" name="dcaTakeProfitPercent" value="<%- botData.dcaTakeProfitPercent %>" class="form-field"></td></tr>
		<tr><td>Max Deals:</td> <td><input id="dealMax" name="dealMax" value="0" class="form-field"></td></tr>

		<tr>
			<td style="padding-top: 25px; text-align: center;" colspan=2>
				
				<button id="formSubmitPreview" class="btn">Preview Bot</button>
				<button id="formSubmitReset" class="btn" style="display: none;">Modify Bot</button>
				&nbsp;&nbsp;&nbsp; <button id="formSubmitStart" class="btn" style="display: none;">Start Bot</button>
			</td>
		</tr>

	</form>
	
	</table>

	</div>
	
	<div id="ordersBox"></div>

</main>
</center>


<%- include('../../partialsFooterView'); %>
