<%- include('../../partialsHeaderView'); %>

<script>

	function dateConvertLocal(date) {

		date = new Date(date);

		let datePart = date.getFullYear() + '-' + ('00' + (date.getMonth() + 1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2);
		let timePart = ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2);

		let hourTemp = parseInt(timePart.split(':')[0]) % 12;

		if (hourTemp < 10) {

			hourTemp = '0' + hourTemp;
		}

		let timePartAmPm = (hourTemp == 0 ? '12' : hourTemp) + ':' + timePart.split(':')[1] + ' ' + (parseInt(parseInt(timePart.split(':')[0]) / 12) < 1 ? 'AM' : 'PM');

		let dateFull = datePart + ' ' + timePartAmPm;

		return dateFull;
	}


	$(document).ready(function () {

		$(window).resize(function() {

			resizeBotsDeals();
		});


		$('[id*="date"]').each(function(){

			let date = dateConvertLocal($(this).data('date'));

			$(this).text(date);
		});


		$('#botsDeals').tablesorter({

			widgets: [ 'saveSort', 'stickyHeaders', 'uitheme' ],
			widgetOptions: {
				saveSort: true,
				stickyHeaders_attachTo: '',
				columnSelector_mediaqueryHidden: true
			},
			durationLength : 4,
			durationLabels : '(?:years|year|y),(?:days|day|d),(?:hours|hour|h),(?:minutes|minute|min|m),(?:seconds|second|sec|s)',
			textExtraction: {

				6: function(node) {

					if (node.innerHTML.indexOf('%') != -1) {

						let val = stripHtml(node.innerHTML);
						return val.replace('%','');
					}

					return node.innerHTML;
				}
			},
			headers: {

				// Set "sorter : false" (no quotes) to disable the column
				4: {
					sorter: "duration"
				},
				5: {
					sorter: "currency"
				}
			}
		});


		resizeBotsDeals();
	});

</script>


<center>
<main>

	<% 
	let totalProfit = 0;
	for (let i = 0; i < deals.length; i++) {
		const { profit } = deals[i];
		totalProfit += profit;
	}
	%>

	<div id="contentBox">

		<div style="position: relative;">

			<div class="contentHeaderBox">

				<b class="contentHeader">DCA Bot Deals History</b>

				<p style="margin-top: 10px; margin-bottom: 0;">Total P/L: 
					<span style="color: <%- totalProfit > 0 ? '#1a9f00' : '#d82715' %>">
						$<%- totalProfit.toFixed(2) %>
					</span>
				</p>

			</div>

			<div class="botsDealsBox">

				<table id="botsDeals" border=0 cellspacing=0 cellpadding=0>

					<thead style="position: sticky; top: 0; z-index: 1000;">
						<tr style="font-weight: bold; text-align: left; white-space: nowrap;">
							<th>Date</th> <th>Bot Name</th> <th>Deal ID</th> <th>Pair</th> <th>Duration</th> <th>Profit</th> <th>Profit %</th> <th>Safety Orders</th>
						</tr>
					</thead>
					
					<tbody>
	
	<%
		for (let i = 0; i < deals.length; i++) {

			let profitPercColor = '#1a9f00';

			let deal = deals[i];
			let profit = deal['profit'];
			let profitPerc = deal['profit_percent'];
			let dateEnd = new Date(deal['date_end']).getTime();

			let duration = timeDiff(new Date(deal['date_start']), new Date(deal['date_end']));

			if (profitPerc <= 0) {

				profitPercColor = '#d82715';
			}
	%>

				<tr>
					<td id="date<%- i %>" data-date="<%- dateEnd %>"></td>
					<td><%- deal['bot_name'] %></td>
					<td><%- deal['deal_id'] %></td>
					<td><%- deal['pair'] %></td>
					<td><%- duration %></td>
					<td style="color: <%- profitPercColor %>;">$<%- profit %></td>
					<td style="color: <%- profitPercColor %>;"><%- profitPerc %>%</td>
					<td><%- deal['safety_orders'] %></td>
				</tr>
	
	<% } %>

				</tbody>
			</table>
		</div>
	</div>
</div>

</main>
</center>

<%- include('../../partialsFooterView'); %>
