<%- include('../../partialsHeaderView'); %>


<script>

	$(document).ready(function() {

		setTimeout(() => { window.location.reload(); }, 5000);

	});

</script>

<center>
<main>

	<div id="contentBox" style="width: 90%;">

	<table id="dealsActive" border=0 cellspacing=0 cellpadding=0>

	<tr style="font-weight: bold; text-align: left;">
		<th>Deal ID</th> <th>Pair</th> <th>Price</th> <th>Profit</th> <th>Safety Orders</th>
	</tr>

	<%
	
		for (let dealId in deals) {

			let profitPercColor = '#1a9f00';

			let deal = deals[dealId];
			let profitPerc = deal['info']['take_profit_percentage'];
		
			if (profitPerc < 0) {

				profitPercColor = '#d82715';
			}
	%>

	<tr>
		<td><%- dealId %></td>
		<td><%- deal['deal']['pair'] %></td>
		<td>$<%- deal['info']['price_last'] %></td>
		<td style="color: <%- profitPercColor %>;"><%- profitPerc %>%</td>
		<td><%- deal['info']['safety_orders_used'] %> / <%- deal['info']['safety_orders_max'] %></td>
	</tr>
	
	<% 	} %>

	</table>
	</div>

</main>
</center>

<%- include('../../partialsFooterView'); %>
