<%- include('./partialsHeaderView'); %>

<script src="/js/vendor/chart.js/chart.js"></script>

<script>
       <% const { active_deals, total_in_deals, available_balance, total_profit, total_pl } = kpi; %>

       const { profit_by_bot_map, profit_by_day_map, active_pl_map, adjusted_pl_map, bot_deal_duration_map, bot_funds_in_use_map } = <%- JSON.stringify(charts) %>

       const balances = <%- JSON.stringify(available_balance) %>;

       const currencies = <%- '[' + currencies.map(currency => `'${currency}'`).join(',') + ']'; %>;

       const bgColors = [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ];
        
        const borderColors = [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ]

     $(document).ready(function () {

        function populateBalance(currency) {

            let balance = Number(balances[currency]);

            if (isNaN(balance)) {

                balance = 0;
            }

            $('#balance').html('$' + balance.toString());
        }

        const period_map = {
                'week': 7,
                '2-weeks': 14,
                'month': 30,
            }

        // Populate currencies
        $.each(currencies, function(index, currency) {
            $('#currencies').append($('<option></option>').val(currency).html(currency));
        });

        // Populate balance
        populateBalance(currencies[0]);

        $('#currencies').change(function() {
            const currency = $(this).val();
            populateBalance(currency);
        });

        $('#period-select').change(function() {
            const period = $(this).val();
            window.location.href = `/dashboard?duration=${period_map[period]}`;
        });


    const period = new URLSearchParams(window.location.search).get('duration');
    if (period) {
        const keys = Object.keys(period_map);
        let isCustom = true;
        for (let i = 0; i < keys.length; i++) {
            if (period_map[keys[i]] == period) {
                $(`#period-select option[value=${keys[i]}]`).prop('selected', true);
                isCustom = false;
                break;
            }
        }
        if (isCustom) {
            $('#custom-date-range').css('display', 'block');
            $('#period-select option[value=custom]').prop('selected', true);
        }
    } else {
        $(`#period-select option[value=week]`).prop('selected', true);
    }


        <% if (isLoading) { %>
            alertBox('Deals are being loaded. Please wait a few minutes and refresh the page.');
        <% } %>

        function createChart(ctx, label, data) {
            return new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Object.keys(data),
                    datasets: [{
                        label: label,
                        data: Object.values(data),
                        backgroundColor: bgColors,
                        borderColor: borderColors,
                        borderWidth: 1,
                    }]
                },
                options: {
                    scales: {
                        x: {
                            ticks: {
                                callback: function(value) {
                                    if(window.matchMedia("only screen and (max-width: 768px)").matches) {
                                        return this.getLabelForValue(value).substring(0, 10) + "..";
                                    }
                                    return this.getLabelForValue(value).substring(0, 20) + "..";
                                }
                            }
                        }
                    }
                }
            })
        }

        const profit_chart = document.getElementById('botProfitChart').getContext('2d');
        const activePL_chart = document.getElementById('activePLChart').getContext('2d');
        const adjustedPL_chart = document.getElementById('adjustedPLChart').getContext('2d');
        const profitPerDay_chart = document.getElementById('profitPerDayChart').getContext('2d');
        const botDealDuration_chart = document.getElementById('botDealDurationChart').getContext('2d');
        const botFundsInUse_chart = document.getElementById('fundsInUseChart').getContext('2d');

        createChart(profit_chart, 'Bot Profit', profit_by_bot_map);
        createChart(activePL_chart, 'Active P/L', active_pl_map);
        createChart(adjustedPL_chart, 'Adjusted P/L', adjusted_pl_map);
        createChart(profitPerDay_chart, 'Profit Per Day', profit_by_day_map);
        createChart(botDealDuration_chart, 'Deal Duration (Minutes)', bot_deal_duration_map);
        createChart(botFundsInUse_chart, 'Funds in Use', bot_funds_in_use_map);
    });
</script>

<main style="margin-top: 10px">
	<div id="contentBox" style="display: flex; flex-wrap: wrap;">
		<div style="flex: 1;">
			<div style="display: flex; flex-direction: column; justify-content: center; gap: 5px;">
				<select class="form-field" id="period-select" style="width: 100px;">
					<option value="week">Week</option>
					<option value="2-weeks">2 Weeks</option>
					<option value="month" selected>Month</option>
					<option value="custom" id="custom-date-range" style="display: none;">Custom</option>
				</select>
				<span><b>Period:</b> <%- period %></span>
			</div>
		</div>
        <div style="flex: 1; display: flex; align-items: flex-start; justify-content: flex-end;">
            <div id="rightBox" style="display: flex; align-items: center;">
                <b>Balance:</b>
                <select class="form-field" id="currencies" style="width: 100px; margin-left: 5px;">
                </select>
            </div>
        </div>
		<div id="belowContentBox" style="flex-basis: 100%; display: flex; justify-content: center; margin-top: 20px;">
			<div id="innerContent" style="flex: 1;">
				<!-- KPI -->
				<div class="kpi-container">
					<div class="performance-kpi">
						<span style="font-size: 11px">Active Deals</span>
						<span style="font-size: 20px;"><%- active_deals %></span>
					</div>
					<div class="performance-kpi">
						<span style="font-size: 11px">Total In Deals</span>
						<span style="font-size: 20px;">$<%- total_in_deals.toLocaleString() %></span>
					</div>
					<div class="performance-kpi">
						<span style="font-size: 11px">Available Funds</span>
						<span id="balance" style="font-size: 20px;"></span>
					</div>
					<div class="performance-kpi">
						<span style="font-size: 11px">Profit</span>
						<span style="font-size: 20px;">$<%- total_profit.toLocaleString() %></span>
					</div>
					<div class="performance-kpi">
						<span style="font-size: 11px">Active P/L</span>
						<span style="font-size: 20px;">$<%- total_pl.toLocaleString() %></span>
					</div>
				</div>
				<!-- Charts -->
				<div class="dashboard-container">
					<!-- Bot Profit -->
					<div class="chart-container">
						<canvas id="botProfitChart"></canvas>
					</div>
					<!-- Active P/L -->
					<div class="chart-container">
						<canvas  id="activePLChart"></canvas>
					</div>
				</div>
				<div class="dashboard-container">
					<!-- Adjusted P/L -->
					<div class="chart-container" style="margin-top:40px">
						<canvas  id="adjustedPLChart"></canvas>
					</div>
					<!-- Profit Per Day -->
					<div class="chart-container" style="margin-top:40px">
						<canvas id="profitPerDayChart"></canvas>
					</div>
				</div>
				<div class="dashboard-container">
					<!-- Deal Duration  -->
					<div class="chart-container" style="margin-top:40px; width: 50%;">
						<canvas  id="botDealDurationChart"></canvas>
					</div>
					<!-- Funds in Use  -->
					<div class="chart-container" style="margin-top:40px; width: 50%;">
						<canvas  id="fundsInUseChart"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>


<%- include('./partialsFooterView'); %>