<%- include('./partialsHeaderView'); %>

<script>

	$(document).ready(function () {

		const form = '#formDealsCreate';
		const submitUrl = $(form).attr('action');

		const createStep = $('#createStep').val();

		$('[id^="formSubmit"]').on('click', function(e) {

			e.preventDefault();

			const id = $(this).attr('id');

			if (id.match(/start/i)) {

				let confirmStart = confirm('Start bot?');

				if (confirmStart) {

					$('#createStep').val('start');
				}
				else {

					return;
				}
			}

			$('#formSubmitStart').hide();
			$('#ordersBox').hide();

			const formData = $(form).serializeArray().reduce((o, {name: n, value: v}) => Object.assign(o, { [n]: v }), {});

			if (formData.pair == undefined || formData.pair == null || formData.pair == '' || !formData.pair.match(/\//)) {

				alert('Invalid Pair');
				return;
			}

			$.ajax({
						type: 'POST',
						url: submitUrl,
						data: $(form).serialize(),
						dataType: 'json',
						success: function(data) {

						if (!data.success) {

							//alert(JSON.stringify(data));
							alert(data.data);
						}
						else {

							$('#ordersBox').html('<pre>' + data.data + '</pre><br>');
							
							if (data.step.toLowerCase() != 'getorders') {

								alert('Bot Started');
							}
							else {

								$('#ordersBox').show();
								$('#formSubmitStart').show();

								alert('Verify bot orders and confirm to start bot');
							}
						}
					},
					error: function(data) {

						// Some error in ajax call
						$('#formSubmitStart').hide();
						alert('Error: ' + JSON.stringify(data));
				}
			});

			// Reset value
			$('#createStep').val(createStep);
		});
	});


	$(document).on('keypress', '#dealsCreate input', function(e) {

		const id = $(this).attr('id');

		const charCode = (e.which) ? e.which : e.keyCode;

		if (id != 'pair') {

			if (String.fromCharCode(charCode).match(/[^0-9\.]/g)) { return false; }
		}
	});

</script>


<center>
<main>

	<div id="contentBox" style="width: 90%;">

	<h2>Under Development</h2>

	<table id="dealsCreate" cellpadding=0 cellspacing=0>

	<form id="formDealsCreate" action="/api/deals/create">

		<input type=hidden id="createStep" name="createStep" value="getorders">

		<tr><td style="width: 175px;">Pair:</td> <td><input id="pair" name="pair" style="width: 100px;"></td></tr>
		<tr><td>Base Order:</td> <td><input id="firstOrderAmount" name="firstOrderAmount" value="<%- botData.firstOrderAmount %>" style="width: 60px;"></td></tr>
		<tr><td>Safety Order:</td> <td><input id="dcaOrderAmount" name="dcaOrderAmount" value="<%- botData.dcaOrderAmount %>" style="width: 60px;"></td></tr>
		<tr><td>Max Safety Orders:</td> <td><input id="dcaMaxOrder" name="dcaMaxOrder" value="<%- botData.dcaMaxOrder %>" style="width: 60px;"></td></tr>
		<tr><td>dcaOrderSizeMultiplier:</td> <td><input id="dcaOrderSizeMultiplier" name="dcaOrderSizeMultiplier" value="<%- botData.dcaOrderSizeMultiplier %>" style="width: 60px;"></td></tr>
		<tr><td>dcaOrderStartDistance:</td> <td><input id="dcaOrderStartDistance" name="dcaOrderStartDistance" value="<%- botData.dcaOrderStartDistance %>" style="width: 60px;"></td></tr>
		<tr><td>dcaOrderStepPercent:</td> <td><input id="dcaOrderStepPercent" name="dcaOrderStepPercent" value="<%- botData.dcaOrderStepPercent %>" style="width: 60px;"></td></tr>
		<tr><td>dcaOrderStepPercentMultiplier:</td> <td><input id="dcaOrderStepPercentMultiplier" name="dcaOrderStepPercentMultiplier" value="<%- botData.dcaOrderStepPercentMultiplier %>" style="width: 60px;"></td></tr>
		<tr><td>dcaTakeProfitPercent:</td> <td><input id="dcaTakeProfitPercent" name="dcaTakeProfitPercent" value="<%- botData.dcaTakeProfitPercent %>" style="width: 60px;"></td></tr>

		<tr>
			<td style="padding-top: 25px; text-align: center;"><input type=button id="formSubmitPreview" value="Preview Bot Deal" style="width: 125px; cursor: pointer;"></td>
			<td style="padding-top: 25px; text-align: center;"><input type=button id="formSubmitStart" value="Start Bot Deal" style="display: none; width: 125px; cursor: pointer; background-color: #81df6f;"></td>
		</tr>

	</form>
	
	</table>

	</div>
	
	<div id="ordersBox"></div>

</main>
</center>


<%- include('./partialsFooterView'); %>
