<%- include('./partialsHeaderView'); %>

	<script>

		$(document).ready(function() {

			$(window).resize(function() {

				resizeBotsDeals(offsetBottom);
			});

			const socket = io('/', {

				query: { 'room': 'logs' },
				extraHeaders: {

					'user-agent': '<%- appData.name %>/<%- appData.version %>'
				},
				transports: ['websocket', 'polling'],
				path: '/ws',
				reconnection: true,
				reconnectionDelay: 10000
			});


			socket.on('connect', (data) => {

                // Init toggle after socket connect
                $('#simple-switch').simpleSwitch();
                $('#simple-switch').prop('disabled', false);

                $('#simple-switch').on('change.toggleSwitch', function() {
                    
                    if ($(this).parent().hasClass('checked')) {

                        $('#dataBox').css('overflow-y', 'auto');

                        $('#status-text').text('Live');

                        stopCountdown();

                        flushBuffer();

                    } else {
                      
                        $('#dataBox').css('overflow-y', 'auto');

                        $('#status-text').text('Paused');
                        
                        startCountdown(60);
                    }
                });
			});


			socket.on('connect_error', (data) => {

				if (typeof data != 'string') {

					data = JSON.stringify(data);
				}

				alertBox('Connect Error: ' + data);
			});


			socket.on('connect_failed', (data) => {

				if (typeof data != 'string') {

					data = JSON.stringify(data);
				}

				alertBox('Connect Failed: ' + data);
			});


			socket.on('error', (data) => {

				if (typeof data != 'string') {

					data = JSON.stringify(data);
				}

				alertBox('Error: ' + data);
			});


			socket.on('disconnect', (data) => {

			});


			socket.on('data', (data) => {

                if ($('#simple-switch').parent().hasClass('checked')) {

                    displayLog(data);

                } else {

                    buffer.push(data);
                }
                
            });

		});

	</script>


<main>

	<div id="contentBox">

        <div class="contentHeaderBox" style="display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex; align-items: center;">
                <input type="checkbox" id="simple-switch" checked>
                <span id="status-text" style="margin-left: 10px; min-width: 60px; display: inline-block;">Live</span>
                <span id="countdown" style="min-width: 50px; display: inline-block;"></span>
            </div>
                <b class="contentHeader" style="flex-grow: 1; text-align: center; margin: 0 20px;"><%- appData.name %> Realtime Logs</b>
                <span style="visibility: hidden; flex-grow: 0;"><input type="checkbox" style="visibility: hidden;"></span>  <!-- balance -->
        </div>
        <% if (isLiteLog) { %>
            <div class="flex-container">
                <div class="lite-log">
                    <h3>Lite Logging Enabled</h3>
                    <p>All logs will be written to console.</p>
                    <p>To store logs, restart SymBot without params</p>
                </div>
            </div>
        <% } 
        else { %> 
        <div id="dataBox" class="botsDealsBox" style="width: 100%;"></div>
        <% } %>
    </div>

</main>

<%- include('./partialsFooterView'); %>
