<!DOCTYPE html>
<html>
	<body>
		<div id="<%- data['container_id'] %>" style="width: 99%; padding-top: 20px; margin: 0 auto;">

			<!-- TradingView Widget BEGIN -->
			<div class="tradingview-widget-copyright" style="margin-top: -20px; text-align: center; width: 100%; background-color: #000000;">Provided by TradingView</div>
			<div class="tradingview-widget-container" id="<%- data['container_id'] %>_widget">

				<% if (data['jquery']) { %>
					<script src="/js/vendor/jquery/jquery.min.js"></script>
				<% } %>

				<% if (data['script']) { %>
					<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
				<% } %>

				<script type="text/javascript">

					$(document).ready(function() { 

						let tvStudiesObj = {};
						let tvStudiesSelected = [ { } ];

						const tvDataString = <%- JSON.stringify(data.tv_data) %>;

						const tvData = JSON.parse(tvDataString);

						const tvStudies = tvData['studies'];
						const tvIntervals = tvData['intervals'];
						const tvBarStyles = tvData['bar_styles'];

						let intervalSelected = tvIntervals[0];
						let barStyleSelected = tvBarStyles[8];

						// If loading from modal
						try {

							let tvStudiesSelectedTracker = JSON.parse(JSON.stringify(dataTracker['tradingView']['studies']));

							if (dataTracker['tradingView']['interval'] != undefined && dataTracker['tradingView']['interval'] != null && dataTracker['tradingView']['interval'] != '') {

								intervalSelected = dataTracker['tradingView']['interval'];
							}

							if (dataTracker['tradingView']['bar_style'] != undefined && dataTracker['tradingView']['bar_style'] != null && dataTracker['tradingView']['bar_style'] != '') {

								barStyleSelected = dataTracker['tradingView']['bar_style'];
							}

							for (let i = 0; i < tvStudies.length; i++) {

								let tvId = tvStudies[i]['id'];

								let tvIdHash = numToBase26(hashCode(tvId));

								delete tvStudies[i]['_name'];

								tvStudiesObj[tvIdHash] = tvStudies[i];
							}

							if (Object.keys(tvStudiesSelectedTracker).length > 0) {

								tvStudiesSelected = [];

								for (let key in tvStudiesSelectedTracker) {

									if (key != undefined && key != null && key != '') {

										if (tvStudiesObj[key] != undefined && tvStudiesObj[key] != null) {

											let obj = tvStudiesObj[key];

											tvStudiesSelected.push(obj);
										}
									}
								}
							}
						}
						catch(e) {

						}

						const tradingViewData = {
													'jquery': <%- data['jquery'] %>,
													'script': <%- data['script'] %>,
													'id': '<%- data['container_id'] %>' + Math.floor(1000 + Math.random() * 90000),
													'width': '<%- data['width'] %>',
													'height': '<%- data['height'] %>',
													'theme': '<%- data['theme'] %>',
													'interval': intervalSelected,
													'bar_style': barStyleSelected,
													'pair': '<%- data['pair'] %>',
													'exchange': '<%- data['exchange'] %>'
												}

						$('#' + tradingViewData['id']).remove();
						$('#<%- data['container_id'] %>_widget').append('<div id="' + tradingViewData['id'] + '"></div>');

						function _resizeTvChart() {

							let divId = 'modal';

							$('#<%- data['container_id'] %>').width('100%');
							$('#<%- data['container_id'] %>').height('90%');

							if (tradingViewData['script'] || tradingViewData['width'] > 0) {

								let width = window.screen.width / 2;
								let height = window.screen.height / 2;

								if (tradingViewData['width'] > 0 && tradingViewData['height'] > 0) {

									width = tradingViewData['width'];
									height = tradingViewData['height'];									
								}

								$('#<%- data['container_id'] %>').width(width);
								$('#<%- data['container_id'] %>').height(height);

								divId = '<%- data['container_id'] %>';
							}

							$('#' + tradingViewData['id']).height($('#' + divId).height() - 50);
						}

						let tvId = tradingViewData['id'];
						let tvExchange = tradingViewData['exchange'];
						let tvPair = tradingViewData['pair'];
						let tvTheme = tradingViewData['theme'];
						let tvInterval = tradingViewData['interval'].split('-')[0];
						let tvBarStyle = tradingViewData['bar_style'].split('-')[0];

						let widthPopUp = Math.round(window.screen.width / 2);
						let heightPopUp = Math.round(window.screen.height / 2);

						let timeZoneIANA = Intl.DateTimeFormat().resolvedOptions().timeZone;

						// Resize TV chart height to container
						_resizeTvChart();

						let tvWidget = new TradingView.widget({

							"autosize": true,
							"symbol": tvExchange.toUpperCase() + ':' + tvPair.replace(/[^a-z0-9]/gi, '').toUpperCase(),
							"theme": tvTheme,
							"style": tvBarStyle.toString(),
							"interval": tvInterval.toString(),
							"timezone": timeZoneIANA,
							"locale": "en",
							"toolbar_bg": "#f1f3f6",
							"hide_side_toolbar": true,
							"hide_top_toolbar": false,
							"hide_volume": false,
							"enable_publishing": false,
							"allow_symbol_change": true,
							"show_popup_button": true,
							"popup_width": widthPopUp,
							"popup_height": heightPopUp,
							"studies": tvStudiesSelected,
							"container_id": tvId
						});
					});
					
				</script>

			</div>
			<!-- TradingView Widget END -->

		</div>
	</body>
</html>
